# Repositórios clonados (não vamos poluir o nosso repo principal)
/moodle/
/moodle-docker/

# Scripts gerados dinamicamente e arquivos de ambiente local
/start-moodle.sh
/.moodle-env

# Arquivos temporários e logs
*.log
.DS_Store
